* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 1110px;
}

p {
  font-family: "Roboto", sans-serif;
}

.rotate-scale-down:hover {
  -webkit-animation: rotate-scale-down 0.65s linear both;
  animation: rotate-scale-down 0.65s linear both;
}

@-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
.rotate-scale-down-hor:hover {
  -webkit-animation: rotate-scale-down-hor 0.65s linear both;
  animation: rotate-scale-down-hor 0.65s linear both;
}

@-webkit-keyframes rotate-scale-down-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateX(-180deg);
    transform: scale(0.5) rotateX(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-360deg);
    transform: scale(1) rotateX(-360deg);
  }
}
@keyframes rotate-scale-down-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateX(-180deg);
    transform: scale(0.5) rotateX(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-360deg);
    transform: scale(1) rotateX(-360deg);
  }
}
.rotate-center:hover {
  -webkit-animation: rotate-center 0.8s ease-in-out both;
  animation: rotate-center 0.8s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.shadow-inset-center:hover {
  -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
.header {
  background-color: #012d63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  margin-top: 16px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 73px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 136px;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
}

.header-link {
  list-style: none;
}

.header-links a {
  text-decoration: none;
  font-size: 24px;
  color: #c7c7c7;
}

.header-links a:hover {
  color: #ffffff;
  font-weight: 600;
}

.header-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
}

.header-language {
  list-style: none;
}

.header-languages a {
  text-decoration: none;
  font-size: 24px;
  color: #dcdcdc;
  opacity: 30%;
}

.header-languages a:hover {
  color: #ffffff;
  font-weight: 600;
}

.section-1 {
  width: 100%;
  background-image: url(img/section-1/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-1-logo {
  margin-top: 96px;
}

.section-1-h3 {
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 48px;
  font-weight: 100;
  margin-top: -27px;
  margin-left: 25px;
}

.section-1-h1 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 144px;
  font-weight: 100;
}

.section-1-h2 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 72px;
  font-weight: 100;
  margin-left: 8px;
}

.section-1-p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 12px;
}

.section-1-button {
  color: #ffffff;
  background-color: #8e32c6;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 20px 60px;
  margin-top: 42px;
  margin-bottom: 182px;
}

.section-2 {
  width: 100%;
  background-image: url(img/section-2/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 106px;
  padding-bottom: 123px;
}

.section-2-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 396px;
  border: 5px solid #8e32c6;
  gap: 155px;
}

.section-2-card-left,
.section-2-card-center,
.section-2-card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  height: 346px;
  text-align: center;
}

.section-2-card-left {
  margin-left: 50px;
  margin-top: 22px;
  border-right: 2px solid #ffffff;
}

.card-center-outside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2-card-center {
  margin-top: 24px;
}

.section-2-card-right {
  border-left: 2px solid #ffffff;
  margin-top: 22px;
}

.secion-2-card-content {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.section-2-img {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.section-3 {
  background-image: url(img/section-3/biga.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.section-3-caption {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.section-3-decoration {
  display: block;
  width: 120px;
  height: 150px;
}

.section-3-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 951px;
  margin: 0 auto;
  gap: 90px;
  padding-bottom: 114px;
}

.section-3-card-left {
  width: 255px;
  height: 292px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 13px;
  -webkit-box-shadow: 0px 13px 0px -4px rgba(156, 114, 231, 0.8), 0px 26px 0px -9px rgba(107, 75, 155, 0.9);
          box-shadow: 0px 13px 0px -4px rgba(156, 114, 231, 0.8), 0px 26px 0px -9px rgba(107, 75, 155, 0.9);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(7%, #00e5e6), color-stop(26%, #00a8f7), color-stop(63%, #9a76f9), to(#cc5ec2));
  background-image: linear-gradient(to bottom right, #00e5e6 7%, #00a8f7 26%, #9a76f9 63%, #cc5ec2 100%);
}

.section-3-card-center {
  width: 255px;
  height: 292px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 13px;
  -webkit-box-shadow: 0px 13px 0px -4px rgb(155, 83, 179), 0px 26px 0px -9px rgb(96, 49, 117);
          box-shadow: 0px 13px 0px -4px rgb(155, 83, 179), 0px 26px 0px -9px rgb(96, 49, 117);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff68b4), color-stop(26%, #ff45e1), color-stop(63%, #ce3aff), to(#8961ff));
  background-image: linear-gradient(to bottom right, #ff68b4 0%, #ff45e1 26%, #ce3aff 63%, #8961ff 100%);
}

.section-3-card-right {
  width: 255px;
  height: 292px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 13px;
  -webkit-box-shadow: 0px 13px 0px -4px rgb(181, 88, 71), 0px 26px 0px -9px rgb(110, 46, 39);
          box-shadow: 0px 13px 0px -4px rgb(181, 88, 71), 0px 26px 0px -9px rgb(110, 46, 39);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffe128), color-stop(30%, #ff9b5c), color-stop(63%, #ff8381), to(#ff5489));
  background-image: linear-gradient(to bottom right, #ffe128 0%, #ff9b5c 30%, #ff8381 63%, #ff5489 100%);
}

.card-text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 35px;
  margin-left: 18px;
}

.card-date {
  color: #d8d8d8;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-left: 18px;
}

.card-biography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
  margin-left: 18px;
}

.card-text-info {
  margin-left: 5px;
}

.card-name {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.card-year {
  color: #d8d8d8;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.section-4 {
  background-image: url(img/section-4/backgound.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-bottom: 14.8px;
}

.section-4-caption {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 100;
  padding-top: 24px;
  padding-bottom: 29.5px;
}

.section-4-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.primary-input:focus {
  outline: none;
  border: none;
}

.secondary-input:focus {
  outline: none;
  border: none;
}

.input-button {
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  color: #8d8d8d;
  font-size: 28px;
  font-weight: 400;
  margin-left: -273px;
  margin-right: -60px;
  padding: 5px 78.57px;
  font-size: 28px;
  cursor: pointer;
  position: relative;
}

.primary-input {
  border: none;
  border-radius: 50px;
  width: 690px;
  height: 60px;
  opacity: 90%;
  font-size: 25px;
  margin-top: 20px;
  background-color: #ffffff;
}

.primary-input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 28px;
  padding: 12px 460px 13px 25px;
}

.primary-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 28px;
  padding: 12px 460px 13px 25px;
}

.primary-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 28px;
  padding: 12px 460px 13px 25px;
}

.primary-input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 28px;
  padding: 12px 460px 13px 25px;
}

.primary-input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 28px;
  padding: 12px 460px 13px 25px;
}

.secondary-input {
  border: none;
  border-radius: 50px;
  width: 580px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
}

.secondary-input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 24px;
  padding: 11px 417px 11px 24px;
}

.secondary-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 24px;
  padding: 11px 417px 11px 24px;
}

.secondary-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 24px;
  padding: 11px 417px 11px 24px;
}

.secondary-input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 24px;
  padding: 11px 417px 11px 24px;
}

.secondary-input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #959595;
  font-size: 24px;
  padding: 11px 417px 11px 24px;
}

.section-4-button {
  display: block;
  width: 248px;
  height: 68px;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  color: #ffffff;
  background-color: #8e32c6;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 35.6px;
}

.footer {
  background-color: #021635;
}

footer ul {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

.footer-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
}

.footer-questions {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-question {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-top: 10px;
}

footer a {
  font-family: "Roboto", sans-serif;
  list-style: none;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.footer-top-content a:hover {
  background-color: #275cc4;
  opacity: 83%;
}

.footer-e-mails {
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-e-mail {
  color: #ffffff;
  font-size: 24px;
  list-style: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.footer-hr {
  margin-top: 20px;
}

.footer-low-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-protection {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.footer-logo-content {
  text-align: end;
}

.footer-h3 {
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 24px;
  margin-right: 37px;
  margin-top: -12px;
}/*# sourceMappingURL=main.css.map */