:root {
  /* general */
  --header-background: #012d63;
  --header-gray: #c7c7c7;
  --footer-background: #021635;
  --purple: #8e32c6;
  --card-gray: #d8d8d8;
  --input-gray: #959595;
  --white: #ffffff;
  /* section 3 card-left gradient */
  --first-color: #00e5e6;
  --second-color: #00a8f7;
  --third-color: #9a76f9;
  --fourth-color: #cc5ec2;
  /* section 3 card-center gradient */
  --first-color: #ff68b4;
  --second-color: #ff45e1;
  --third-color: #ce3aff;
  --fourth-color: #8961ff;
  /* section 3 card-right gradient */
  --first-color: #ffe128;
  --second-color: #ff9b5c;
  --third-color: #ff8381;
  --fourth-color: #ff5489;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 1110px;
  /* outline: 3px solid red; */
}

p {
  font-family: 'Roboto', sans-serif;
}

/* header */

.header {
  /* width: 100%; */
  /* height: 90px; */
  background-color: #012d63;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.header-wrapper {
  display: flex;
}

.header-nav {
  display: flex;
  gap: 73px;
  margin: 0 auto;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.header-link {
  list-style: none;
}

.header-links a {
  text-decoration: none;
  font-size: 24px;
  color: #c7c7c7;
}

.header-links a:hover {
  color: #ffffff;
  font-weight: 600;
}

.header-languages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.header-language {
  list-style: none;
}

.header-languages a {
  text-decoration: none;
  font-size: 24px;
  color: #dcdcdc;
  opacity: 30%;
}

.header-languages a:hover {
  color: #ffffff;
  font-weight: 600;
}

/* main */

/* section 1 */

.section-1 {
  width: 100%;
  /* height: 858px; */
  background-image: url(img/section-1/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-1-h3 {
  color: #ffffff;
  font-family: 'PT Serif', serif;
  font-size: 48px;
  font-weight: 100;
}

.section-1-h1 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 144px;
  font-weight: 100;
}

.section-1-h2 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 100;
}

.section-1-p {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.section-1-button {
  color: #ffffff;
  background-color: #8e32c6;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 20px 60px;
  margin-top: 15px;
}

/* section 2 */

.section-2 {
  width: 100%;
  /* height: 656px; */
  background-image: url(img/section-2/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.section-2-cards {
  display: flex;
  width: 1110px;
  height: 396px;
  border: 5px solid #8e32c6;
  gap: 155px;
}

.section-2-card-left,
.section-2-card-centre,
.section-2-card-right {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 346px;
  text-align: center;
}

.section-2-card-left {
  border-right: 2px solid #ffffff;
}

.section-2-card-right {
  border-left: 2px solid #ffffff;
}

.secion-2-card-content {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 400;
}

.section-2-img {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* section 3 */

.section-3 {
  background-image: url(img/section-3/backgound.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.section-3-caption {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.section-3-cards {
  display: flex;
  width: 951px;
  /* margin: 0 auto; */
  margin: 0 auto;
  gap: 90px;
  padding-bottom: 91px;
}

.section-3-card-left {
  width: 255px;
  height: 292px;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  box-shadow: 0px 10px 30px #cc5ec2;
  background-image: linear-gradient(
    to bottom right,
    #00e5e6 7%,
    #00a8f7 26%,
    #9a76f9 63%,
    #cc5ec2 100%
  );
}

.section-3-card-center {
  width: 255px;
  height: 292px;
  /* margin: 114px 93px; */
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  box-shadow: 0px 10px 30px #cc5ec2;
  background-image: linear-gradient(
    to bottom right,
    #ff68b4 0%,
    #ff45e1 26%,
    #ce3aff 63%,
    #8961ff 100%
  );
}

.section-3-card-right {
  width: 255px;
  height: 292px;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  box-shadow: 0px 10px 30px #cc5ec2;
  background-image: linear-gradient(
    to bottom right,
    #ffe128 0%,
    #ff9b5c 30%,
    #ff8381 63%,
    #ff5489 100%
  );
}

.card-text {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 35px;
  margin-left: 18px;
}

.card-date {
  color: #d8d8d8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-left: 18px;
}

.card-biography {
  /* outline: 2px solid red; */
  display: flex;
  margin-top: 47px;
  margin-left: 18px;
}

.card-text-info {
  margin-left: 5px;
}

.card-name {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.card-year {
  color: #d8d8d8;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

/* section 4 */

.section-4 {
  background-image: url(img/section-4/backgound.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-bottom: 15px;
}

.section-4-caption {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 100;
}

.section-4-inputs {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.input-button {
  margin-left: -150px;
  color: #959595;
  padding: 5px 7px;
  font-size: 28px;
}

.primary-input {
  border: none;
  border-radius: 50px;
  width: 690px;
  height: 60px;
  opacity: 90%;
  font-size: 25px;
  margin-top: 20px;
}

.primary-input::placeholder {
  color: #959595;
  font-size: 28px;
  padding: 12px 460px 13px 25px;
}

.secondary-input {
  border: none;
  border-radius: 50px;
  width: 580px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
}

.secondary-input::placeholder {
  color: #959595;
  font-size: 24px;
  padding: 11px 417px 11px 24px;
}

.section-4-button {
  display: block;
  width: 248px;
  height: 68px;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  color: #ffffff;
  background-color: #8e32c6;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  /* margin-bottom: 37px; */
}

/* footer */

.footer {
  background-color: #021635;
}
footer ul {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

.header-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
}

.footer-questions {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.footer-question {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin-top: 10px;
}

/* .question-1 {
  margin-top: 120px;
} */

footer a {
  list-style: none;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.footer-e-mails {
  text-align: end;
  display: flex;
  flex-direction: column;
}

.footer-e-mail {
  color: #ffffff;
  font-size: 24px;
  list-style: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  /* margin-top: 10px; */
}

.footer-hr {
  margin-top: 50px;
  margin-bottom: 25px;
}

.footer-protection {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.footer-logo-content {
  text-align: end;
}

.footer-h3 {
  color: #ffffff;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 24px;
  margin-right: 37px;
}
