:root {
  /* general */
  --header-background: #012d63;
  --header-gray: #c7c7c7;
  --purple: #8e32c6;
  --card-gray: #d8d8d8;
  --input-gray: #959595;
  --white: #ffffff;
  /* section 3 card-left gradient */
  --first-color: #00e5e6;
  --second-color: #00a8f7;
  --third-color: #9a76f9;
  --fourth-color: #cc5ec2;
  /* section 3 card-center gradient */
  --first-color: #ff68b4;
  --second-color: #ff45e1;
  --third-color: #ce3aff;
  --fourth-color: #8961ff;
  /* section 3 card-right gradient */
  --first-color: #ffe128;
  --second-color: #ff9b5c;
  --third-color: #ff8381;
  --fourth-color: #ff5489;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* header */

.header {
  width: 100%;
  /* height: 90px; */
  background-color: #012d63;
}

.header-logo {
  margin: 16px 152px 14px 168px;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.header-link {
  list-style: none;
}

.header-links a {
  text-decoration: none;
  font-size: 24px;
  color: #c7c7c7;
}

.header-links a:hover {
  color: #ffffff;
  font-weight: 600;
}

.header-languages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
  margin: 1px 165px 30px 1194px;
}

.header-language {
  list-style: none;
}

.header-languages a {
  text-decoration: none;
  font-size: 24px;
  color: #dcdcdc;
  opacity: 30%;
}

.header-languages a:hover {
  color: #ffffff;
  font-weight: 600;
}

/* main */

/* section 1 */

.section-1 {
  width: 100%;
  height: 858px;
  background-image: url(img/section-1/section-1-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-3-logo {
  margin: 96px 1110px 1px 170px;
}

.section-1-h3 {
  color: #ffffff;
  font-family: 'PT Serif', serif;
  font-size: 48px;
  font-weight: 100;
  margin: 1px 1067px 1px 195px;
}

.section-1-h1 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 144px;
  font-weight: 100;
  margin: 3px 644px 1px 156px;
}

.section-1-h2 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 100;
  margin: 1px 736px 1px 164px;
}

.section-1-p {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 12px 768px 42px 164px;
}

.section-1-button {
  color: #ffffff;
  background-color: #8e32c6;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 20px 61px 19px 61px;
  margin: 15px 1016px 182px 170px;
}

/* section 2 */

.section-2 {
  width: 100%;
  height: 606px;
  background-color: rgb(1, 7, 28);
}

.section-2-cards {
  display: flex;
  width: 1110px;
  height: 396px;
  outline: 5px solid #8e32c6;
  margin: 0px 164px 106px 166px;
}

.section-2-card-left,
.section-2-card-centre,
.section-2-card-right {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 346px;
}

.section-2-card-left {
  margin: 25px 30px 25px 2px;
}
.section-2-card-centre {
  margin: 22px 85px 22px 125px;
}
.section-2-card-right {
  margin: 22px 50px 25px 50px;
}

.secion-2-card-content {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 400;
  margin: 12px 768px 42px 164px;
}

.section-2-img {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 12px 768px 42px 164px;
}

.section-2-divider {
  width: 1px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
}

/* section 3 */

.section-3 {
  width: 100%;
  height: 520px;
  background-color: rgb(1, 7, 28);
}

.section-3-caption {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 400;
  margin: 24px 632px 24px 633px;
}

.section-3-cards {
  display: flex;
  width: 951px;
  height: 292px;
  /* justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center; */
}

.section-3-card-left {
  width: 255px;
  height: 292px;
  margin: 114px 93px 114px 244px;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to bottom right,
    #00e5e6 7%,
    #00a8f7 26%,
    #9a76f9 63%,
    #cc5ec2 100%
  );
}

.section-3-card-center {
  width: 255px;
  height: 292px;
  margin: 114px 93px;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  box-shadow: 0px 10px 30px #cc5ec2;
  background-image: linear-gradient(
    to bottom right,
    #ff68b4 0%,
    #ff45e1 26%,
    #ce3aff 63%,
    #8961ff 100%
  );
}

.section-3-card-right {
  width: 255px;
  height: 292px;
  margin: 114px 245px 114px 93px;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to bottom right,
    #ffe128 0%,
    #ff9b5c 30%,
    #ff8381 63%,
    #ff5489 100%
  );
}

.card-text {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 49px 9px 8px 18px;
}

.card-date {
  color: #d8d8d8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 201px 47px 18px;
}

.card-name {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 2px 100px 1px 70px;
}

.card-year {
  color: #d8d8d8;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 1px 102px 1px 70px;
}

.card-img {
  margin: 1px 5px 29px 18px;
}

/* section 4 */

.section-4 {
  width: 100%;
  height: 509px;
  background-color: #012d63;
}

.section-4-caption {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 100;
  margin: 21px 655px 33px 655px;
}

.section-4-inputs {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.primary-input {
  border: none;
  border-radius: 50px;
  width: 690px;
  height: 60px;
  opacity: 90%;
  margin: 33px 375px 19px 375px;
}

.primary-input::placeholder {
  color: #959595;
  font-size: 28px;
  padding: 12px 460px 13px 25px;
}

.secondary-input {
  border: none;
  border-radius: 50px;
  width: 580px;
  height: 50px;
  margin: 19px 430px 19px 430px;
}

.secondary-input::placeholder {
  color: #959595;
  font-size: 24px;
  padding: 11px 417px 11px 24px;
}

.section-4-button {
  width: 248px;
  height: 68px;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  color: #ffffff;
  background-color: #8e32c6;
  margin: 20px 49px 20px 48px;
  cursor: pointer;
}

/* footer */

.footer {
  width: 100%;
  height: 292px;
}

.footer-questions {
  display: flex;
  flex-direction: column;
}

.footer-question {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin: 21px 655px 33px 655px;
}

.footer-e-mails {
   display: flex;
   flex-direction: column;
}

.footer-e-mail {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 100;
  /* margin: 21px 655px 33px 655px; */
}

.footer-protection {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 100;
  /* margin: 21px 655px 33px 655px; */
}

.footer-logo {
  margin: 21px 655px 33px 655px;
}

.footer-h3 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 100;
  /* margin: 21px 655px 33px 655px; */
}
