.section-1 {
  width: 100%;
  background-image: url(img/section-1/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-1-logo {
  margin-top: 96px;
}

.section-1-h3 {
  color: #ffffff;
  font-family: 'PT Serif', serif;
  font-size: 48px;
  font-weight: 100;
  margin-top: -27px;
  margin-left: 25px;
}

.section-1-h1 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 144px;
  font-weight: 100;
}

.section-1-h2 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 100;
  margin-left: 8px;
}

.section-1-p {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 12px;
}

.section-1-button {
  color: #ffffff;
  background-color: #8e32c6;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 20px 60px;
  margin-top: 42px;
  margin-bottom: 182px;
}